* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #FDFFE4;
}
.banner {
  width: 100%;
  height: 10rem;
}
nav {
  width: 100%;
  padding: 2rem 1rem; 
}
nav a {
  text-decoration: none; 
  color: black;
  padding: 0.5rem;
}
nav a:hover {
  color: #A40C0C;
}
hr {
  margin: 0.5rem 0;
}
h1 {
  text-align: center;
}
main>div {
  border: 1px solid black;
  width: 80%;
  margin: 1rem auto;
  padding: 5rem 0;
  text-align: center;
}
main>img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 15rem;
}
nav.show {
  display: block;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: #fff; 
  margin: 4px 0;
}
#navbar {
  display: block;
  background-color: #b90b0b4d ;
  text-align: right;
  padding: 0.9375rem;
}
.image-container {
  border: 1px solid black;
  padding: 1rem;
  background-color: #D5F6F7;
  text-align: center;
}
#menu-toggle {
  display: block; 
  cursor: pointer;
}
.sliding-menu {
  display: none;
}
nav.show {
  display: block;
}

.calendar-list {
  margin: 0;
  padding: 0;
}

.calendar-event {
  background-color: #ffffff;
  margin-bottom: 20px;
  border-left: 5px solid #ff1493;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.calendar-date {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
}

.calendar-details h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.calendar-details p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.calendar-details a {
  font-size: 1rem;
  color: #0000ff;
  text-decoration: none;
}

.calendar-image img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.event {
  flex-direction: column;
}

.event-image {
  width: 80%;
  height: auto;
}

.event-content {
  padding: 1rem 0;
}

.intro, .target-group, .schedule, .instructors, .costs, .contact {
  background-color: #D5F6F7;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 15px;
  padding: 10px;
}

.intro {
  margin-top: 1rem;
}

.modules, .profile {
  display: flex;
  flex-direction: column;
}

.module, .profile {
  margin-bottom: 10px;
}

.module {
  border: 1px solid black;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.profile img {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.profile p {
  margin: 0;
}
.form-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  max-width: 100%;
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.datenschutz {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .sliding-menu {
    display: flex;
    justify-content: center;
  }
  .image-container {
    margin: 0 2rem;
  }
  #navbar {
    display: none;
  }
  #menu-toggle {
    display: none;
  }

  .calendar-list {
    margin: 0 auto;
  }

  .calendar-event {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .calendar-date {
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
  }

  .calendar-details {
      flex-grow: 1;
      padding: 0 20px;
  }

  .calendar-image {
      flex-basis: 250px;
  }

  .event {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .event-image {
    width: 27rem; 
    height: 18rem;
  }
  .event-content {
    padding: 1rem;
  }

  .intro, .target-group, .schedule, .instructors, .costs, .contact {
    width: 80%;
    margin: 0 auto 1.25rem;
    padding: 1.25rem;
  }

  .modules {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .module {
      width: 48%;
  }

  .profile {
      flex-direction: row;
      align-items: center;
  }

  .profile img {
      width: 100px;
      margin-right: 20px;
  }
  .form-container {
    padding: 20px;
    max-width: 600px;
  }

  form {
    max-width: 500px;
    margin: auto;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 15px;
  }

  button {
    padding: 15px 30px;
  }

  .datenschutz label {
    font-size: 0.9rem;
  }
}